    <footer class="site-footer">
      <h1 class="logo">Digital Media Unicorn</h1>
      <nav>
        <ul class="social-nav">
          <li>
            <a href="https://www.facebook.com/digitalmediaunicorn/">
              {% include facebook.svg %}
            </a>
          </li>
          <li>
            <a href="https://twitter.com/DigMediaUnicorn">
              {% include twitter.svg %}
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/digitalmediaunicorn/?hl=en">
              {% include insta.svg %}
            </a>
          </li>
        </ul>
        <ul class="main-nav">
          <!-- <li><a href="">About</a></li>
          <li><a href="">Services</a></li> -->
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
