.grow {
  @include clearfix;
  position: relative;
}

.grow__content {
  background: $mint;
  padding: $large-spacing;
  position: relative;

  @media screen and (max-width: 650px) {
    margin-bottom: $base-spacing;
  }

  @media screen and (min-width: 650px) {
    width: 50%;
    float: right;
    z-index: 1;
  }

  a {
    margin-top: $large-spacing;
    display: inline-block;
    background-color: #fff;
    padding: 8px $small-spacing;
    margin-left: -$small-spacing;
  }
}

.grow__image {
  z-index: 0;

  @media screen and (max-width: 650px) {
    margin-bottom: $small-spacing;
  }

  @media screen and (min-width: 650px) {
    margin-top: $xx-large-spacing;
    position: absolute;
    top: $large-spacing;
    width: 50%;
  }
}

.grow__weare {
  box-shadow: inset 0 0 0 3px $dark-gray;
  padding: $base-spacing;
  position: relative;

  @media screen and (min-width: 450px) {
    padding: $large-spacing;
  }

  @media screen and (min-width: 650px) {
    margin-top: 8.8rem;
    width: 50%;
    float: right;
  }
}
