.site-header {
  @extend .main-container;
  text-align: center;

  @media screen and (min-width: 600px) {
    padding-top: $base-spacing;
    padding-bottom: $base-spacing;
    display: flex;
    align-items: flex-end;
    text-align: left;
  }
}

.logo {
  flex-grow: 1;
}

.main-nav,
.social-nav {
  display: inline-block;
  font-family: $heading-font-family;
  padding-bottom: $base-spacing;

  li {
    display: inline-block;
    margin-left: $base-spacing;
  }

  a {
    text-decoration: none;
  }
}

.social-nav {
  margin-right: $large-spacing;
}

.contact {
  border: $base-border;
  padding: 6px $small-spacing;
  border-radius: 20px;
}
