.passionate {
  @include clearfix;
  background: $light-pink;
  padding: $base-spacing;
  margin: 0 $small-spacing;

  @media screen and (min-width: 450px) {
    padding: $large-spacing 0;
    margin: 0 $base-spacing;
  }

  .main-container {
    padding-bottom: 0;
  }

  p {
    @media screen and (max-width: 875px) {
      max-width: 600px;
      margin-bottom: $large-spacing;
    }

    @media screen and (min-width: 875px) {
      float: left;
      width: calc(33% - 0.85rem);
      margin-right: $base-spacing;
    }
  }

  h2 {
    margin-bottom: $large-spacing;
  }
}

.services {
  @media screen and (min-width: 875px) {
    float: left;
    width: calc(66% - 0.85rem);
  }

  h3 {
    background-color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    display: inline-block;
    padding: 4px 8px;
    margin-bottom: $base-spacing;
  }

  ul {
    @include clearfix;
  }

  li {
    display: block;
    margin-bottom: $small-spacing;
    line-height: 1.2;
    font-family: $heading-font-family;
    font-size: 28px;
    color: $gold;

    @media screen and (min-width: 550px) {
      float: left;
      width: calc(50% - 0.85rem);

      &:nth-child(2n) {
        margin-left: $base-spacing;
      }
    }
  }
}
