.story {
  display: flex;
  align-items: center;
  position: relative;
  top: -4rem;
  padding-top: 0;
}

.story__content {
  width: 50%;
  padding-right: $large-spacing;

  h2 {
    margin-bottom: $base-spacing;
  }
}

.story__image {
}

.increase {
  .main-container {
    padding-top: 0;
  }
}
